.tabs-container{
  display: flex;
}

button, .tab{
  cursor: url('/assets/cursorPointer.svg'), pointer;
}

.tab{
 background: #FEFEFE;
  border-top: 1px solid #AEB6CE;
  position: relative;
  padding: 10px;
}

.close-btn {
  display: none;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 12px;
  cursor: pointer;
  position: absolute;
}

.tab:hover .close-btn {
  display: inline;
}

.tab:hover{
  border-top: 1px solid #1766c1;
  background-color: #F1F5F8;
}

.tab-title{
  display: flex;
  gap: 5px;
  border-left: 1px solid #AEB6CE33;
  text-align: center;
  justify-content: center;

}
.tab.pinned {
  background-color: #f0f0f0; 
  border: 2px solid #007bff;
  width: 16px;
  height: 16px;
}
.tab.pinned span {
  display: none;
}

.tabTitle{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px; 
  display: inline-block;
  vertical-align: middle;
}