.tabs-container{
  display: flex;
}

.tab{
 background: #FEFEFE;
  padding: 15px;
  border-top: 1px solid #AEB6CE;
  cursor: pointer;
}

.tab:hover{
  border-top: 1px solid #1766c1;
  background-color: #F1F5F8;
}

.tab-title{
  display: flex;
  gap: 5px;
  border-left: 1px solid #AEB6CE33;
  text-align: center;
  justify-content: center;

}
